/*
************************************
** Default styling for Mobile Phones
************************************
*/

/*
** Global
*/

* {
    font-family: 'Clear Sans', 'Helvetica Neue', Arial, sans-serif;
}

:root,
:root.light-mode {
    /* Fonts */
    --primary-fg:               Black;
    --secondary-fg:             White;

    /* Header */
    --header-button-bg:         Gainsboro;
    --active-button-bg:         SlateGray;
    --inactive-button-bg:       Gainsboro;
    --header-bg:                LightSteelBlue;

    --game-button-bg:           LightSteelBlue;

    /* Tiles and Letters */
    --input-tile-bg:            LightSteelBlue;

    --start-target-tile-bg:     SlateGray;
    --start-target-letter-fg:   White;

    --unplayed-word-tile-bg:    White;
    --unplayed-word-tile-fg:    Black;

    --played-word-same-bg:      #49B57A;    /* green */
    --played-word-longer-bg:    #DE6FA6;    /* pink */
    --played-word-letter-fg:    Black;

    --invalid-word-letter-fg:   DarkRed;

    /* Keyboard */
    --key-bg:                   LightGray;
    --wide-key-bg:              LightSteelBlue;

    --toast-bg:                 Black;
    --toast-fg:                 White;
}

:root.dark-mode {
}

#root-div {
}

.wordchain-button {
    font-size: 1rem;
    padding: .75rem;
    border-width: 0;
    border-radius: .5rem;
    margin: .5rem;
}

.wordchain-button:focus {
    outline: none;
}

.game-button {
    background: var(--game-button-bg);;
}

/* Shell around the solution/keyboard/practice divs */
#outer-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/*
This class is used in divs with display: flex to force whatever comes
after the div to be on a "new line".
See: https://tobiasahlin.com/blog/flexbox-break-to-new-row
*/
.break {
    flex-basis: 100%;
}

/*
** Toast Pop-ups
*/

#toast-div {
    visibility: hidden;
    font-size: .75rem;
    background-color: var(--toast-bg);
    color: var(--toast-fg);
    text-align: center;
    border-radius: .5rem;
    padding: .75rem;
    min-width: 6rem;            /* Set a default minimum width */
    margin-left: -3rem;         /* Divide value of min-width by 2 */
    position: fixed;            /* Sit on top of the screen */
    top: 10rem;                 /* 10rem from the top */
    left: 50%;                  /* Center the toast */
}

#toast-div.show {
  visibility: visible;
  /*
  ** Add animation: Take 0.5 seconds to fade in and out the toast.
  ** However, delay the fade out process for 2.5 seconds.
  */
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@keyframes fadein {
    from {
        top: 0;
        opacity: 0;
    }
    to {
        top: 10rem;
        opacity: 1;
    }
}

@keyframes fadeout {
    from {
        top: 10rem;
        opacity: 1;
    }
    to {
        top: 0;
        opacity: 0;
    }
}

/*
** Header
*/

#header-div {
    display: flex;
    justify-content: center;
    background: var(--header-bg);;
    padding: .5rem;
    margin-bottom: 2rem;
}

#title-div {
}

.title {
    font-size: 1.5rem;
    font-weight: bold;
    padding-right: 1rem;
}

.header-button {
    background: var(--header-button-bg);
}

.active-button {
    background: var(--active-button-bg);
    color: var(--secondary-fg);
}

.not-active {
    background: var(--inactive-button-bg);
    color: var(--primary-fg);
}

/*
** Practice Game Setup Display
*/

#practice-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#practice-buttons-div {
    display: flex;
    flex-wrap: wrap;
}

/*
** Solution Display (for Daily and Practice games)
*/

#solution-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

table {
    border-spacing: .5rem;
}

/* Tile td classes */

.tile {
    width: 3rem;
    height: 3rem;
    font-weight: bold;
    font-size: 2.5rem;
    text-align: center;
    vertical-align: middle;
    border-style: solid;
}

.tile-label {
    width: 8rem;
    height: 3rem;
    font-weight: bold;
    font-size: 1rem;
    text-align: center;
    vertical-align: middle;
    color: var(--primary-fg);
    border-style: none;
}

.tile-label-blank {
    width: 0rem;
}

.start-target-tile {
    background: var(--start-target-tile-bg);
}

.letter-change {
    border-width: .3rem;
    padding: 0;
}

.no-change {
    border-width: .15rem;
    padding: .15rem;
}

.tile-enter {
    background: var(--input-tile-bg);
}

.no-enter {
    background: White;
}

.solution-longer {
    background: var(--played-word-longer-bg);
    color: var(--played-word-letter-fg);
}

.solution-same-length {
    background: var(--played-word-same-bg);
    color: var(--played-word-letter-fg);
}

/* Letter div classes */

.is-a-word {
    color: var(--primary-fg);
}

.not-a-word {
    color: var(--invalid-word-letter-fg);
}

.label-word {
    color: var(--primary-fg);
}

.start-target-letter {
    color: var(--start-target-letter-fg);
}

.shown-letter {
    visibility: visible;
}

.hidden-letter {
    visibility: hidden;
}

#solution-buttons-div {
    display: flex;
    flex-wrap: wrap;
}

/* Keyboard Display (for Daily and Practice games) */

#keyboard-div {
    display: flex;
    flex-wrap: wrap;
}

.keyboard-row {
    display: flex;
    margin-top: 0;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: .4rem;
    /* https://stackoverflow.com/questions/46167604/ios-html-disable-double-tap-to-zoom */
    touch-action: manipulation;
}

.keyboard-key {
    font-family: inherit;
    font-weight: bold;
    border: 0;
    padding: 0;
    margin-top: 0;
    margin-right: .3rem;
    margin-bottom: 0;
    margin-left: 0;
    width: 1.7rem;
    height: 2.7rem;
    border-radius: .3rem;
    cursor: pointer;
    user-select: none;
    background-color: var(--key-bg);
    color: var(--primary-fg);
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
}

.keyboard-spacer {
    flex: 0.5;
    visibility: hidden;
}

.keyboard-wide-key {
    flex: 1.5;
    background: var(--wide-key-bg);
    color: var(--primary-fg);
}


/*
*******************************
** Override Styling for Tablets
*******************************
*/

@media only screen and (min-width: 600px) {
    table {
        border-spacing: .7rem;
    }

    .tile {
        width: 5rem;
        height: 5rem;
        font-size: 4rem;
    }

    .keyboard-key {
        font-size: 2rem;
        width: 4rem;
        height: 5.5rem;
    }
}

/*
**************************************
** Override Styling for Larger Screens
**************************************
*/

@media only screen and (min-width: 991px) {
    table {
        border-spacing: .9rem;
    }

    .tile {
        width: 3rem;
        height: 3rem;
        font-size: 2rem;
    }

    .letter-change {
        border-width: .4rem;
        padding: 0;
    }

    .no-change {
        border-width: .2rem;
        padding: .2rem;
    }

    .keyboard-key {
        width: 3rem;
        height: 4.5rem;
    }
}
