/*
** Default styling for Mobile Phones
*/

/* Global */

* {
    font-family: 'Clear Sans', 'Helvetica Neue', Arial, sans-serif;
}

#root-div {
}

.game-button {
    font-size: 1rem;
    padding: .75rem;
    border-width: 0;
    border-radius: .5rem;
    margin: .5rem;
    background: gainsboro;
    color: black;
}

/* Toast Pop-ups */

/* Position it at the bottom and in the middle of the screen */
#toast-div {
    visibility: hidden;
    min-width: 6rem; /* Set a default minimum width */
    margin-left: -3rem; /* Divide value of min-width by 2 */
    font-size: .75rem;
    background-color: black;
    color: white;
    text-align: center;
    border-radius: .5rem;
    padding: .75rem;
    position: fixed; /* Sit on top of the screen */
    left: 50%; /* Center the toast */
    top: 10rem; /* 10rem from the top */
}

#toast-div.show {
  visibility: visible;
  /*
  ** Add animation: Take 0.5 seconds to fade in and out the toast.
  ** However, delay the fade out process for 2.5 seconds.
  */
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@keyframes fadein {
    from {
        top: 0;
        opacity: 0;
    }
    to {
        top: 10rem;
        opacity: 1;
    }
}

@keyframes fadeout {
    from {
        top: 10rem;
        opacity: 1;
    }
    to {
        top: 0;
        opacity: 0;
    }
}
/* Header */

#header-div {
    display: flex;
    justify-content: center;
    background: lightsteelblue;
    padding: .5rem;
    margin-bottom: 2rem;
}

#title-div {
}

.title {
    font-size: 1.5rem;
    font-weight: bold;
    padding-right: 1rem;
}

.header-button {
    font-size: 1rem;
    padding: .75rem;
    border-width: 0;
    border-radius: .5rem;
    margin: .5rem;
}

.active-button {
    background: slategray;
    color: white;
}

.not-active {
    background: gainsboro;
    color: black;
}

/* Practice Game Display */

#practice-div {
    padding: 1.5rem;
}

/* Shell around the solution/keyboard/practice divs */

#outer-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.break {
    flex-basis: 100%;
}

/* Solution Display (for Daily and Practice games) */

#solution-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

table {
    border-spacing: .5rem;
}

/* Tile td classes */

.tile {
    width: 3rem;
    height: 3rem;
    font-weight: bold;
    font-size: 2.5rem;
    text-align: center;
    vertical-align: middle;
    color: black;
    border-style: solid;
    border-color: black;
}

.letter-change {
    border-width: .3rem;
    padding: 0;
}

.no-change {
    border-width: .15rem;
    padding: .15rem;
}

.tile-enter {
    background: lightsteelblue;
}

.no-enter {
    background: white;
}

/* Letter div classes */

.is-a-word {
    color: black;
}

.not-a-word {
    color: darkred;
}

.start-word {
    color: black;
}

.target-word {
    color: seagreen;
}

.shown-letter {
    visibility: visible;
}

.hidden-letter {
    visibility: hidden;
}


/* Keyboard Display (for Daily and Practice games) */

#keyboard-div {
    display: flex;
    flex-wrap: wrap;
}

.keyboard-row {
    display: flex;
    margin-top: 0;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: .4rem;
    /* https://stackoverflow.com/questions/46167604/ios-html-disable-double-tap-to-zoom */
    touch-action: manipulation;
}

.keyboard-key {
    font-family: inherit;
    font-weight: bold;
    border: 0;
    padding: 0;
    margin-top: 0;
    margin-right: .3rem;
    margin-bottom: 0;
    margin-left: 0;
    width: 1.7rem;
    height: 2.7rem;
    border-radius: .3rem;
    cursor: pointer;
    user-select: none;
    background-color: lightgray;
    color: black;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
}

.keyboard-spacer {
    flex: 0.5;
    visibility: hidden;
}

.keyboard-wide-key {
    flex: 1.5;
    background: lightsteelblue;
    color: black;
}


/*
** Override Styling for Tablets
*/

@media only screen and (min-width: 600px) {
    table {
        border-spacing: .7rem;
    }

    .tile {
        width: 5rem;
        height: 5rem;
        font-size: 4rem;
    }

    .keyboard-key {
        font-size: 2rem;
        width: 4rem;
        height: 5.5rem;
    }
}

/*
** Override Styling for Larger Screens
*/

@media only screen and (min-width: 991px) {
    table {
        border-spacing: .9rem;
    }

    .tile {
        width: 3rem;
        height: 3rem;
        font-size: 2rem;
    }

    .letter-change {
        border-width: .4rem;
        padding: 0;
    }

    .no-change {
        border-width: .2rem;
        padding: .2rem;
    }

    .keyboard-key {
        width: 3rem;
        height: 4.5rem;
    }
}
